.device {
    border: solid 1px #ccc;
    border-radius: 4px;
    min-height: 100px;

    .device-icon {
        float: left;
        margin-right: 10px;
        padding: 20px;
        width: 75px;
    }

    .device-content {
        padding: 20px;

        .device-type {
            display: none;
        }

        .device-name {
            h3 {
                margin: 0px;
            }
        }

        .device-tags {

            margin-top: 5px;
            float: right;

            .device-tag {
                font-size: .9em;
                display: inline-block;
                margin-right: 4px;
            }
        }
    }

    /* Disable annoying select when you click on them (esp phones */
    -webkit-touch-callout:none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust:none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color:rgba(0,0,0,0); /* prevent tap highlight color / shadow */
    -webkit-user-select:none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

}

.lightSwitch, .dimmer {
    cursor: pointer;
}

.lightSwitch.off {
    background-color: transparent;
}

.lightSwitch.on {

    .device-icon {
        background-color: #edd523;
    }
}

.lightSwitch.on .fa-lightbulb-o {
    color: #fff;
    text-shadow: 0px 0px 10px yellow;
}

.dimmer {

    .device-icon {
        padding-top: 28px;
        padding-bottom: 4px;
        height: 100px;
        font-size: 24px;
        padding-left: 10px;
    }
    
}
