.row.rule-definition {
    padding: 5px 0px;
}

.rule-definition {
    .rule-definition-delete {
        float: left;
        width: 20px;
    }

    .rule-definition-edit {
        margin-left: 50px;
    }

}

.rule-action {
	margin-bottom: 5px;
}

.rule-action-add {
	margin-top: 10px;
	margin-bottom: 10px;
}

.rule-action-delete {
	float: left;
}