.row.rule-definition {
    padding: 5px 0px;
}

.rule-definition {
    .rule-definition-delete {
        float: left;
        width: 20px;

        .btn {
            color: @brand-danger;
        }
    }

    .rule-definition-edit {
        margin-left: 50px;
    }
}

.rule-definition-add, .rule-action-add {

    margin-top: 10px;

    .add-icon {
        vertical-align: middle;
        margin: 16px;

        color: @brand-success;
    }

    .btn {
        margin-right: 10px;
    }
}

.rule-action {
	margin-bottom: 10px;
}

.rule-action-delete {
	float: left;
    width: 20px;

    margin-top: 10px;
    margin-right: 15px;

    .btn {
        color: @brand-danger;
    }

}

.rule-action-edit {
    margin-left: 50px;
}

.rule-action-list {
    margin-bottom: 20px;
}