@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/fontawesome/less/font-awesome.less";
@import "./block-grid.less";

@import "themes/darkly/variables.less";
@import "themes/darkly/bootswatch.less";

@import "../bower_components/selectize/dist/less/selectize.bootstrap3.less";

@import "devices.less";
@import "scenes.less";
	
// Fix selectize selected items
@selectize-color-item: @dropdown-bg;

// Fix selectize typed text
.selectize-input input {
    color: @body-bg;
}

.selectize-control.multi .selectize-input > div {
    background-color: @body-bg;
}

.selectize-dropdown-content {
    color: @body-bg;
}

// For the fixed header
body { padding-top: 70px; }

.tag-search {
    .tag {

        margin-right: 5px;

        a {
            border: solid 1px @text-color;
            border-radius: 10px;
        }
    }
}