@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/fontawesome/less/font-awesome.less";
@import "./block-grid.less";

@import "themes/darkly/variables.less";
@import "themes/darkly/bootswatch.less";

@import "../bower_components/selectize/dist/less/selectize.bootstrap3.less";

@import "vendor/react-input-slider.less";

@import "devices.less";
@import "hvac.less";
@import "picker.less";
@import "rules.less";
@import "scenes.less";
	
// Fix selectize selected items
@selectize-color-item: @dropdown-bg;

// Fix selectize typed text
.selectize-input input {
    color: @body-bg;
}

.selectize-control.multi .selectize-input > div {
    background-color: @body-bg;
}

.selectize-dropdown-content {
    color: @body-bg;
}

// For the fixed header
body { padding-top: 70px; }

// TODO: working on this styling.  Where is the green coming from?  #0ce3ac - can't find in source, that's the tag color...
// Comes from @link-color, a lightened version of @brand-success

.tag-search {
    margin-top: -10px;

    .tag {

        padding: 0px;
        cursor: pointer;

        text-align: center;

        a {
            display: inline-block;
            padding: 10px;
        }

        a:hover, a:focus {
            text-decoration: none;
        }
    }

    .tag.active {
        background-color: @brand-success;
        color: @text-color;
        box-shadow: inset 0px 0px 2px 0px @text-color;

        a {
            color: @text-color;
        }
    }
}

/* All on/off buttons on dashboard */

.on-off-buttons {
    text-align: right;

    button {
        border-radius: 10px;
        background-color: #5180B1;
        border-color: #5180B1;

        i {
            margin-right: 5px;
            color: #edd523;
        }
    }
}

.on-button, .off-button {
    text-align: center;
}

.on-button {
    margin-right: 10px;
}

@media (max-width: @screen-xs-max) {
    .on-off-buttons {
        text-align: center;
        margin: 10px 0px;
    }

    .on-button, .off-button {
        width: 48%;
    }

    .on-button {
        float: left;
        margin-right: 0px;
    }

    .off-button {
        float: right;
    }
}

// For loop
// https://github.com/seven-phases-max/less.curious/blob/master/src/for.less

// ............................................................
// .for

.for(@i, @n) {.-each(@i)}
.for(@n)     when (isnumber(@n)) {.for(1, @n)}
.for(@i, @n) when not (@i = @n)  {
    .for((@i + (@n - @i) / abs(@n - @i)), @n);
}

// ............................................................
// .for-each

.for(@array)   when (default()) {.for-impl_(length(@array))}
.for-impl_(@i) when (@i > 1)    {.for-impl_((@i - 1))}
.for-impl_(@i) when (@i > 0)    {.-each(extract(@array, @i))}