

@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/fontawesome/less/font-awesome.less";
@import "./block-grid.less";

@import "themes/superhero/variables.less";
@import "themes/superhero/bootswatch.less";

.device {
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 20px;
    min-height: 100px;
}

.lightSwitch {
    cursor: pointer;
}

.lightSwitch.off {
    background-color: transparent;
}

.lightSwitch.on {
    background-color: #edd523;
}

.lightSwitch.on .fa-lightbulb-o {
    /*color: yellow;*/
     text-shadow: 0px 0px 10px yellow;
}